<!DOCTYPE html>
<html>
  <head>
    <title>SmithAnonymizer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Kanit:300,400" rel="stylesheet">
    
  </head>

  <body>

    <% if flash[:error] %>
        
      <div class="flash-prompt">

        <p><%= flash[:error] %></p>

      </div>

    <%end%>

    <%= yield %>
  </body>
</html>
